@import "../Variables/Variables.scss";

.breadcrumb {
  display: flex;
  list-style-type: none;
  width: 70%;
  margin: 0 auto;
  padding: 1.5rem 0;
  font-size: small;

  @media screen and (max-width: $medium) {
    width: 90%;
  }

  @media screen and (max-width: $small) {
    width: 90%;
    flex-wrap: wrap;
  }

  .li-breadcrumb {
    display: flex;
    align-items: center;
    
    &:not(:first-of-type)::before {
      content: " ";
      background-image: url("../images/outline_chevron_right_black_24dp.png");
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }
  }
}
