@import "../Variables/Variables.scss";

.product-details {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 70%;
  margin: 0 auto;
  background-color: white;
  padding: 4rem;

  @media screen and (max-width: $medium) {
    padding: 1rem;
    max-width: 90%;
    gap: 2rem;
  }

  .product-info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    @media screen and (max-width: $medium) {
      flex-direction: column;
    }

    .product-image {
      max-width: 70%;
      object-fit: contain;

      @media screen and (max-width: $medium) {
        margin: 0 auto;
      }
      @media screen and (max-width: $high-medium) {
        max-width: 50%;
      }
    }

    .details {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      border-radius: 9px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem;

      @media screen and (max-width: $high-medium) {
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
      }

      h4 {
        font-weight: 400;
      }

      h3,
      h2 {
        font-weight: 500;
      }

      button {
        width: 100%;
        background-color: rgb(52, 131, 250);
        border: none;
        font-weight: 700;
        font-size: medium;
        color: white;
        padding: 1rem 0;
        border-radius: 7px;
        margin-top: 3rem;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          background-color: rgb(41, 104, 200);
        }

        &:active {
          background-color: rgb(31, 78, 150);
          border: 2px solid rgb(52, 131, 250);
        }
      }

      .decimals {
        font-size: 16px;
        height: 20px;
        left: 0px;
        line-height: 1;
        position: relative;
        top: -6px;
        margin-left: 5px;
      }
    }

    .free-shipping {
      color: rgb(0, 166, 80);
      font-weight: 500;
    }
  }

  .product-description {
    text-align: start;

    h2 {
      font-weight: 500;
    }
  }
}
