@import "../Variables/Variables.scss";

.searchForm {
  display: flex;
  width: 70%;
  height: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0.2px 0.2px 2px #888888;

  

  input {
    font-size: medium;
    outline: none;
    width: 90%;
    border: none;
    height: 100%;
    padding: 0 15px;
    background-color: white;

    &::placeholder{
      color: rgb(215, 215, 215)
    }
  }
  button {
    background-image: url("../images/outline_search_black_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
    border: none;
    height: 100%;
    background-color: white;
    border-left: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
